<connectionStrings>
  <!-- Connection String for SQL Server 2005/2008 with Integrated Security -->
  <add name="yafnet" connectionString="Server=tcp:fotdb.database.windows.net,1433;Initial Catalog=fotDB;Persist Security Info=False;User ID=alexcorrea;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

  <!-- Connection String for SQL Server 2005/2008 with Standard Security -->
  <!--<add name="yafnet" connectionString="Data Source=(local);Initial Catalog=yafnet;User ID=YOURUSER;Password=YOURPASSWORD" providerName="System.Data.SqlClient" />-->
    
  <!-- Connection String for SQL Server 2005/2008 Express -->
  <!--<add name="yafnet" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Database.mdf;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>